@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;500;700&display=swap');
/* font-family: 'Spartan', sans-serif; */

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  --magenta-dark: hsl(300, 43%, 22%);
  --magenta-light: hsl(303, 10%, 53%);
  --pink: hsl(333, 80%, 67%);
  --white: hsl(0, 0, 100%);
  --off-white: hsl(300, 24%, 96%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
